@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

*{
    background-image: url(img/21omxpw.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/**datos personales**/
#datos_personales{
    color: #fff;
}
#p_datos_personales{
    color: #ff5410;;
}

#p_datos_personales_descripcion{
    font-size: 15px;
    color: white;
}

#p_datos_personales_descripcion_hobbies{
    font-size: 15px;
    color: white;
    margin-top: 30px;
}

#iconos_hobbie{
    color: #cb64fb;
    background: none;
}

.bloque_datos_personales{
    font-size: 30px;
    display: flex;
    text-align: center;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 100px;
}

#edad{
    margin-left: 50px;
    margin-right: 50px;
    
}

#grupo_familiar{
    margin-left: 50px;
    margin-right: 50px;
}

#persona{
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid black;
    width: 400px;
    height: 300px;
}
#algo_sobre_mi{
    text-align: center;
    margin-top: 5px;
    font-size: 50px;
    display: flex;
    margin-left: 350px;
    margin-right: 0px;
}
#mi{
    color: #2ff607;
    margin-left: 15px;
    font-family: "Yellowtail";
    position: right;
    margin-bottom: 10px;
}
#algo_sobre{
    color: #ffffff;
    font-family: 'Roboto';
    border-bottom: solid rgb(255, 196, 0);
}

/** EXPERIENCIA**/


.experiencialaboral{
    margin-bottom: 50px;
}

#como_construi_mi_experiencia{
    color: yellow;
    font-size: 40px;
    
}

ul{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
img{
    position: relative;
}

#tasa_logistica{
    background: none;
    color: #f2ff02;
}
#nov_2002{
    background: none;
}

/** FORMULARIO*/


#en_que_te_puedo_ayudar_label{
    background: none;
}

#telefono_label{
    background: none;
}

#email_label{
    background: none;
}

#nombre_label{
    background: none;
}

#lpm{
    color: #f2ff02;
    margin-left: 300px;
    font-family: "Titillium Web"; 
}

#textarea{
    margin-left: 0px;
    margin-right: 110px;
    margin-top: 50px;
    font-size: 30px;
}
#enviame_tu_consulta{
    color: rgb(249, 245, 6);
    margin-left: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-top: 80px;
}
#input_nombre{
    background: none;
    background-color: #fff;
 }
 #input_email{
    background: none;
    background-color: #fff;
 }
 #input_telefono{
    background: none;
    background-color: #fff;
 }
 #comentario_textarea{
    background: none;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
 }
 
/** FIN FORMULARIO*/



a{
    color:  yellow
}


/** BOTONES**/


#botonfinal{
    display: flex;
}


button{
    border: 10;
    background-image: linear-gradient(
        150deg,
            #ff0000,
            rgb(255, 72, 0),
            #ff9900
    );
    border-radius: 8px;
    color: #fff;
    display: flexbox;
    font-size: 30px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;    
}
button:hover span{
    background: none;
}
button:active {
    transform: scale(0.9);
}



/** sector encabezado**/


#encabezado{
    text-align: center;
}
.inicio .contenido-seccion .info h1{
    color: white;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    margin-top: 5px;
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 30px;
    margin-top: -10px;
    letter-spacing: 2px;
    color: #fff;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-table;
    border-radius: 10px;
    text-decoration: none;
    background-color: whitesmoke;
    color: #ff0000;
    width: 40px;
    height: 45px;
    line-height: 40px;
    margin:  5px;
    transition: .3s;
    font-size: 30px;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: white;
    box-shadow: 0 0 20px #fff;
}
h3{
    color: #fff;
}
h2{
    color: yellow;
    font-family: 'Shadows Into Light', cursive;
    background: none;
}





/** Contacto parte inferior**/

#botones_finales{
    display: flex;;
    margin-left: 450px;
}

#contacto_1{
    color: white;
    
}
#contacto_2{
    color: white;
}
#telefono_numero{
    color: white;
    font-family: 'Roboto', sans-serif;
    background: none;
}
.contacto{
    background-color: white;
    padding: 14px 0 100px 0;
    color: white;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #f2ff02;
}
    .contacto .contenido-seccion .fila{
        display: block;
    }
